<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guardar datos</title>
</head>

<body>
    <h1>
        Guardar nueva tarjeta
    </h1>
    <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form action="/add_tar" method="POST">
            <input type="text" name="nombre" placeholder="Nombre">
            <input type="text" name="uid" placeholder="UID">
            <input type="text" name="saldo" placeholder="Saldo">
            <button type="submit">
                Guardar
            </button>
        </form>
    </div>

</body>

</html>